@model FibonacciModel;

<body>
<div>
    <form asp-action="Calculate" method="post">
        <div class="form-group">
            <label asp-for="Value" class="control-label"></label>
            <input asp-for="Value" class="form-control"/>
            <span asp-validation-for="Value" class="text-danger"></span>
            <input type="submit" value="Calculate">
        </div>
    </form>
</div>
</body>